body {
	background-color: #233d56;
	display: grid;
	color: #fff;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

p {
	margin-block: 0 1rem;
}

main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 2rem;
	row-gap: 2rem;
}

@media screen and (min-width: 768px) {
	main {
		padding: 4rem;
	}
	
}

header {
	font-family: Sixtyfour, sans-serif;
	font-size: 3rem;
	text-align: center;
}

nav {
    column-gap: 1rem;
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;
}

nav a {
	aspect-ratio: 1/1;
	background: white;
	border-radius: .5rem;
	padding: 1rem;
	max-height: 4rem;
	max-width: 4rem;
}

nav img {
	width: 100%;
}

footer {
	align-content: flex-end;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;	
	font-size: .75rem;
	justify-content: center;
	margin: 0;
	text-align: center;
}
